{% extends 'base.html' %}
{% block content %}

{% if not loggedIn %}

  <h1>Login</h1></br>

  <form action="{% url 'login' %}" class="d-flex" method="POST">
    {% csrf_token %} 
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input required type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input required type="password" class="form-control" id="exampleInputPassword1" name="password">
    </div>
    <div class="mb-3 form-check">
  </form>

  </br>
  </br>

  <button type="submit" class="btn btn-outline-success">Login</button>

{% endif %}

{% if loggedIn %}

  <h1>Logged in</h1> 
  
{% endif %}

{% endblock %}
